html, body {
      margin: 0;
      padding: 0;
      /* чтобы занять всё пространство WebView */
      width: 100%;
      height: 100%;
      /* фиксируем базовую высоту */
      min-height: 100vh;
      /* для iOS safe area (notch, индикаторы) */
      padding-bottom: env(safe-area-inset-bottom);
      padding-top: env(safe-area-inset-top);
    }
    /* Если контента меньше высоты экрана, пусть документ будет чуть выше, чтобы можно было прокручивать */
body:after {
  content: "";
  display: block;
  height: 1px;
}
/* Контейнер с ограничением по ширине */
.app-container {
  flex: 1;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
}

  table {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-collapse: collapse;
  }

  tr {
    border-bottom: 10px solid transparent; /* прозрачный отступ */
  }