<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
    <title>Browissimo</title>
</head>
<body>
<div class="navbar">
    <img src="static/img/logo.jpg" alt="Логотип">
    <div class="nav-text" style="margin-right: 50px">Баланс: {{ balance }}&nbsp; <b>{{ first_name }}</b></div>
  </div>

</div>
<h2></h2>
<h2  style="margin-left: 50px">Это показываем Дианочке</h2>
    <div style="text-align: center;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUoAAAFKAQAAAABTUiuoAAACIElEQVR4nO2aUWrkMAyGfyuGeUxgD9CjuDdb9mbxUXqAwvhxwEVFspNpdynrFibj1vofUifzPfxgZMlSHaNRkVpJwFAyFIY2iwyFoc0iQyFyVR6I2xpI2/KxJ69Noh+NBhadAfebmRE4y9dJv3JnXltEPxtNewglD17TifW1xFtnXhtEo6DzRfbtxd3NwIcijI76v94Z6Re7uOjqCANkKD69W7NkpzfbM2niAvfklQyFqlSCC1CSV5B6Q47DWh125RWjxxZfP8QFjuND3uLt1gbIULSLtUavFfzECOUB8CoV/LohvN7dKw2P+uvSYc7guEy1wAishWHNYLi/VxoeRb3/zrlkK2bO5bH9Kj9YbPWBoh5z+85IB0OPQ14l1PRhJ2FvuzXt2aqmrGuoWWx1dxJyDSYtNYpKWFlsdYeGJ226S3dQz7/y7cSIztc7GHrxOjDq6985ewSG1IRn6H2YgYvjcF668UqGYpd73BvxUmVo+137G0cZ+J8Io6Pg96r35K22eIOsd/dKhuL97Jj/aETpVCvJY+Yy6UIvXptEY8yOAby4upIb81EGWkRN1Fiz41kburn05RGebHbc7zQSUrc7zM+ynrK25G9qgAzF19H4IPetdJJ64+I0bx1r4GMRRkf9P7Pj5LPDLIkrLQcYIEPx2d2K5bibZGzyvP8DzST7dmMDZCi+PDvm/Y2BXJbciVcyFIY2iwyFoc0iQ/F90FfahyQUmWFomgAAAABJRU5ErkJggg==">
    </div>
    <h2 style="margin-left: 50px">Последние операции</h2>
    <div style="margin-left: 50px">
    <table class="table">
    <thead>
      <tr>
          <th scope="col">Дата</th>
          <th scope="col">Сумма</th>
      </tr>
      </thead>
      <tbody>
      {% for record in transactions %}
      <tr>
          <td>{{record.date}}</td>
          <td>{{record.sum_op}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>